<ul class="nav nav-pills nav-stacked">
  <li><%= link_to "Order Manager", orders_path %></li>
  <li><%= link_to "Items Manager", items_path %></li>
  <li><%= link_to "Category Manager", categories_path %></li>
  <li><%= link_to "User Manager", users_path if current_user.present? %></li>
</ul>