<%= render "search" %>
<table>
  <tr>
    <td>Order ID</td>
    <td>Delivery Date</td>
    <td>Order Cost</td>
  </tr>
  <% @orders.each do |order| %>
    <tr>
      <td><%= link_to order.id, order_path(order.id) %></td>
      <td><%= order.required_date %></td>
      <td><%= order.order_total %></td>
    </tr>
  <% end %>
</table>